<!-- <div class="row">
  <h1 class="col-sm-12">sasha gluzinski</h1>
  <hr>
</div>

<div class="row">
  <nav class="col-sm-6 col-sm-offset-3">
    <p><a href="">home</a></p>
    <p><a href="">about</a></p>
    <p><a href="">goals</a></p>
  </nav>
</div> -->

<mat-toolbar>
  <mat-toolbar-row id="title">
    sasha gluzinski
  </mat-toolbar-row>
  <mat-toolbar-row id="menuItems">
    <p><a href="">home</a></p>
    <p><a href="">about</a></p>
    <p><a href="">goals</a></p>
  </mat-toolbar-row>
</mat-toolbar>